{% include 'header.html' %}
{% from "bootstrap5/form.html" import render_form %}
<div class="checkout-grid">
  <div class="order-summary js-order-summary">
    {% for each in _list: %}
    <div class="cart-item-container js-cart-item-container-58b4fc92-e98c-42aa-8c55-b6b79996769a">
      <div class="cart-item-details-grid">
        <img class="product-image" src="{{each.product.img_path}}">
        <div class="cart-item-details">
          <div class="product-name">
            {{each.product.name}}
          </div>
          <div class="product-price">
            {{each.product.price}}
          </div>
          <div class="product-quantity">
            <span class="d-flex align-items-center">
              <span class="me-3 fw-bold">Quantity: <span class="quantity-label text-primary">{{each.quantity}}</span></span>
              <span class="delete-quantity-link">
                <a href="{{url_for('delete_item', item_id=each.id)}}" class="btn btn-outline-danger btn-sm">
                  <i class="bi bi-trash me-1"></i>Delete
                </a>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="delivery-options">
    {% if not filled: %}
    <div class="delivery-options-title">
      Choose a delivery option:
    </div>
    {{render_form(order_form)}}
    </div>
    {% endif %}
  </div>
  {% if filled: %}
  <div class="payment-summary js-payment-summary">
    <div class="payment-summary-title">
      Order Summary
    </div>

    <div class="payment-summary-row">
      <div>Items (5):</div>
      <div class="payment-summary-money">{{user.total_price}}</div>
    </div>

    <div class="payment-summary-row">
      <div>Shipping &amp; handling:</div>
      <div class="payment-summary-money">{{user.shipping}}</div>
    </div>

    <div class="payment-summary-row">
      <div>Address: {{user.address}}</div>
    </div>

    <div class="payment-summary-row">
      <div>Delivery Date: {{user.delivery_date}}</div>
    </div>

    <div class="payment-summary-row total-row">
      <div>Order total:</div>
      <div class="payment-summary-money">{{user.summary}}</div>
    </div>
    <button class="place-order-button button-primary" fdprocessedid="4i3lu9">
      {{render_form(place_order)}}
    </button>
  </div>
  {% endif %}
</div>
{% include 'footer.html' %}